/* ====================== */
/* General Styling */
/* ====================== */

:root {
  font-size: 16px;

  /* body font size */
  --text-base-size: 1rem;
  --text-base-vmin: 0.5vmin;

  /* type scale */
  --text-scale-ratio: 1.2;
  --text-xs: calc(
    (var(--text-base-size) / var(--text-scale-ratio)) /
      var(--text-scale-ratio) + var(--text-base-vmin)
  );
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
}

body,
html {
  height: 100%;
}

.container {
  display: grid;
  grid:
    "sidebar header" 1fr
    "sidebar main-content" 4fr
    / max-content 1fr;

  height: 100%;
}

/* ====================== */
/* Text Styling */
/* ====================== */

/* ====================== */
/* Utilities Styling */
/* ====================== */

/* === context providers === */

.--size-context-xs {
  --_size: var(--text-xs);
}

.--size-context-sm {
  --_size: var(--text-sm);
}

.--size-context-md {
  --_size: var(--text-md);
}

.--size-context-lg {
  --_size: var(--text-lg);
}

.--size-context-xl {
  --_size: var(--text-xl);
}

.--size-context-xxl {
  --_size: var(--text-xxl);
}

/* === general utilities === */

.--_access-height {
  height: var(--_size);
}

.--_access-font-size {
  font-size: var(--_size);
}

.--text-bold {
  font-weight: bold;
}

.--inherit-font-size {
  font-size: inherit;
}

.--icon {
  height: 100%;
}

/* ====================== */
/* Header Styling */
/* ====================== */

.header {
  grid-area: header;
  background-color: red;
}

/* ====================== */
/* Sidebar Styling */
/* ====================== */

.sidebar {
  grid-area: sidebar;
  display: flex;
  place-items: start start;
  flex-direction: column;
  gap: 5rem;

  padding: 1rem;
  background-color: blue;
}

.sidebar__container {
  width: 100%;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar__item {
  display: flex;
  gap: 1rem;
  place-items: center start;
}

/* ====================== */
/* Main Content Styling */
/* ====================== */

.main-content {
  grid-area: main-content;
  background-color: green;
}

/* === Your Project Styling === */

/* === Announcements Project Styling === */
