/* ======================*/
/* General Styling */
/* ====================== */

@font-face {
  font-family: "roboto";
  src:
    url("../assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_slab";
  src:
    url("../assets/fonts/robotoslab-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/robotoslab-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;

  /* body font size */
  --text-base-size: 1rem;
  --text-base-vmin: 0.5vmin;

  /* type scale (this is so fucking scuffed lol) */
  --text-scale-ratio: 1.1;
  --text-XS: calc(
    var(--text-xsss) *
      ((var(--text-scale-ratio) * 0.8) / var(--text-scale-ratio))
  );
  --text-xsss: calc(
    var(--text-xss) *
      ((var(--text-scale-ratio) * 0.8) / var(--text-scale-ratio))
  );
  --text-xss: calc(
    var(--text-xs) * ((var(--text-scale-ratio) * 0.8) / var(--text-scale-ratio))
  );
  --text-xs: calc(
    (var(--text-base-size) / var(--text-scale-ratio)) /
      var(--text-scale-ratio) + var(--text-base-vmin)
  );
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio) * 1.1);
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio) * 1.4);
  --text-XL: calc(var(--text-xxxl) * var(--text-scale-ratio) * 1.6);

  /* default light color palette */
  --search-bar-color: #d1cfda;
  --text-color: #04020d;
  --text-color-opposite: #f4f2fd;
  --background-color: #f4f2fd;
  --background-offset-color: #d1cfda;
  --background-opposite-color: #04020d;
  --primary-color: #eb98fb;
  --primary-offset-color: #cd7cdd;
  --secondary-color: #efc681;
  --accent-color: #a3e94e;
}

:root.dark {
  --search-bar-color: #f4f2fd;
  --text-color: #f4f2fd;
  --text-opposite-color: #04020d;
  --background-color: #04020d;
  --background-offset-color: #11071d;
  --background-opposite-color: #f4f2fd;
  --primary-color: #570467;
  --primary-offset-color: #42004f;
  --secondary-color: #7e5610;
  --accent-color: #6bb116;
}

body,
html {
  height: 100%;
}

.container {
  display: grid;
  grid:
    "sidebar header" 1fr
    "sidebar main-content" 4fr
    / minmax(max-content, 1fr) 4fr;

  height: 100%;
}

/* ====================== */
/* Non-Hierarchial/Utilities Styling */
/* ====================== */

.icon {
  height: 100%;
}

.icon--add-width {
  width: 65px;
}

._profile-icon-container {
  border-radius: 50%;
  border: 3px solid var(--accent-color);

  width: var(--_size);
  height: var(--_size);
  overflow: hidden;

  flex: none; /* if in flex container, allow no stretching of any kind */
}

._profile-icon-container--shadow {
  box-shadow: 0px 3px 12px 2px var(--background-opposite-color);
}

.profile-icon {
  width: 100%;
  object-fit: cover;
}

/* === color providers === */

.--text-color[class*="icon"] {
  fill: var(--text-color, #04020d);
}

.--text-color:not([class*="icon"]) {
  color: var(--text-color, #04020d);
}

.--text-color-opposite[class*="icon"] {
  fill: var(--text-color-opposite, #f4f2fd);
}

.--text-color-opposite:not([class*="icon"]) {
  color: var(--text-color-opposite, #f4f2fd);
}

.--background-color[class*="icon"] {
  fill: var(--background-color, #f4f2fd);
}

.--background-color:not([class*="icon"]) {
  color: var(--background-color, #f4f2fd);
}

.--background-opposite-color[class*="icon"] {
  fill: var(--background-opposite-color, #04020d);
}

.--background-opposite-color:not([class*="icon"]) {
  color: var(--background-opposite-color, #04020d);
}

.--primary-color[class*="icon"] {
  fill: var(--primary-color, #eb98fb);
}

.--primary-color:not([class*="icon"]) {
  color: var(--primary-color, #eb98fb);
}

.--secondary-color[class*="icon"] {
  fill: var(--secondary-color, #efc681);
}

.--secondary-color:not([class*="icon"]) {
  color: var(--secondary-color, #efc681);
}

.--accent-color[class*="icon"] {
  fill: var(--accent-color, #a3e94e);
}

.--accent-color:not([class*="icon"]) {
  color: var(--accent-color, #a3e94e);
}

/* === context providers === */

.--size-context-XS {
  --_size: var(--text-XS);
}

.--size-context-xsss {
  --_size: var(--text-xsss);
}

.--size-context-xss {
  --_size: var(--text-xss);
}

.--size-context-xs {
  --_size: var(--text-xs);
}

.--size-context-sm {
  --_size: var(--text-sm);
}

.--size-context-md {
  --_size: var(--text-md);
}

.--size-context-lg {
  --_size: var(--text-lg);
}

.--size-context-xl {
  --_size: var(--text-xl);
}

.--size-context-xxl {
  --_size: var(--text-xxl);
}

.--size-context-xxxl {
  --_size: var(--text-xxxl);
}

.--size-context-XL {
  --_size: var(--text-XL);
}

/* === general utilities === */

.--get-height {
  height: var(--_size);
}

/* ====================== */
/* Text Styling */
/* ====================== */

._text {
  font-family:
    var(--_font-family), system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--_size, 1rem);
  font-weight: normal;
}

._text._text--header-font-family {
  --_font-family: "roboto_slab";
}

._text._text--normal-font-family {
  --_font-family: "roboto";
}

._text._text--bold {
  font-weight: bold;
}

/* ====================== */
/* Header Styling */
/* ====================== */

.header {
  grid-area: header;
  display: grid;
  gap: 1rem;
  grid:
    "header-top" 3fr
    "header-bottom" 5fr
    / 1fr;
  order: 2;

  box-shadow: 0px 10px 25px 20px var(--background-color);
  background-color: var(--background-color);
  padding: 1rem 4rem;
}

.header__top {
  grid-area: header-top;
  display: grid;
  gap: 2em;
  grid: "search-area profile" 1fr / 5fr 3fr;
}

.search-area {
  grid-area: search-area;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.search-area__icon {
  flex: none;
}
.search-area__search-box {
  flex: auto;

  background-color: var(--search-bar-color);
  border-radius: 1rem;
}

.profile {
  grid-area: profile;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

.profile__notification-icon {
  flex: none;
}

.header__bottom {
  grid-area: header-bottom;
  display: grid;
  gap: 2em;
  grid: "profile-hello options" 1fr / 1fr 1fr;
}

.profile-hello {
  grid-area: profile-hello;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.profile-hello__text-container {
  flex: auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.profile-hello__greet-container {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.profile-hello__name-tag-container {
  flex: 3 1 auto;
  display: flex;
  align-items: flex-start;
}

.options {
  grid-area: options;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

._options__button {
  /* scale down  */
  --size: calc(var(--_size) * 0.95);

  border-radius: 3rem;
  border: none;
  height: var(--size);
  width: calc(var(--size) * 2.3);
  background-color: var(--primary-color);
}

/* ====================== */
/* Sidebar Styling */
/* ====================== */

.sidebar {
  grid-area: sidebar;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5rem;
  order: 3;

  padding: 1.5rem;
  background-color: var(--primary-color);
}

.sidebar__container {
  width: 100%;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

._sidebar__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: var(--_size);
}

/* ====================== */
/* Main Content Styling */
/* ====================== */

.main-content {
  grid-area: main-content;
  display: grid;
  gap: 1rem;
  grid:
    "projects announcements" 1fr
    "projects trending" 1fr
    / 6fr 2fr;
  order: 1;

  padding: 4rem 2rem;
  background-color: var(--background-offset-color);
}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.projects__title {
  flex: none;
}

.announcements {
  grid-area: announcements;
}

.announcements__title {
  flex: none;
}

.trending {
  grid-area: trending;
}

.trending__title {
  flex: none;
}
